.page_foot{
    color: rgba(0,0,0,.45);
    text-align: center;
}
.page_foot span:not(:last-child){
    margin-right: 40px;
}
.page_foot span a{
    color: rgba(0,0,0,.45);
}
.page_foot div:last-child{
    margin-top: 8px;
}