@import "../../base/style/baseStyle";

@base_pad: 20px;

.analysis_head {
  padding-left: @base_pad;
  margin-bottom: @base_pad;
  & > div:first-child {
    & > div {
      padding-top: @base_pad;
      padding-right: @base_pad;
    }
  }
  .analysis_card_title {
    .baseTipFont()
  }
  .analysis_card_content {
    height: 38px;
    margin-top: 4px;
    margin-bottom: 0;
    overflow: hidden;
    color: rgba(0, 0, 0, .85);
    font-size: 30px;
    line-height: 38px;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
  }
  .analysis_card_chart {
    height: 46px;
    line-height: 46px;
  }
  .analysis_card_foot {
    .baseFont();
    border-top: 1px solid #e8e8e8;
    line-height: 40px;
  }
}

.analysis_tab {
  margin-left: @base_pad;
  margin-right: @base_pad;
  background-color: white;
  .ant-card-body {
    padding: 0;
    .ant-tabs-nav-container {
      padding: 10px 0 0 20px;
      font-size: 16px;
    }
  }
  .tab-extra-wrap {
    display: inline-block;
    cursor: pointer;
    span{
      margin-right: 3px;
    }
  }
}

.tab-chart-rank {
  list-style: none;
  font-size: 14px;
  li {
    margin: 15px 0;
    span:first-child {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-top: 1.5px;
      margin-right: 16px;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      background-color: #f5f5f5;
      border-radius: 20px;
      &.active {
        color: #fff;
        background-color: #314659;
      }
    }
    span:last-child {
      float: right;
      width: 80px;
    }
  }
}

.analysis-body {
  margin: 0 20px;
  & > div {
    & > div:first-child {
      margin-top: 20px;
    }
    & > div:last-child {
      margin: 20px 0;
    }
  }
}

.analysis_foot {
  margin: 0 20px;
}

.tab-chart-mar-50 {
  margin-left: 38px;
}