.logo{
    padding: 15px 28px;
}
.logo img{
    display: inline-block;
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
}
.logo h1{
    display: inline-block;
    margin-left: 10px;
    color:white;
    font-size: 20px;
    font-family: "Myriad Pro,Helvetica Neue,Arial,Helvetica,sans-serif";
    vertical-align: sub;
}
.menu{
    z-index: 99;
    min-height: 100vh;
    box-shadow: 2px 0 6px rgba(0,21,41,.35);
}
.ant-layout-sider-collapsed > .ant-layout-sider-children > .logo >h1{
    display: none;
}