.title{
    width: 1205px;
    height: 30px;
    margin: 0 auto;
    color: #666;
    line-height: 30px;
}
.title div{
    margin-left: 40px;
    display: inline-block;
}
.title .left{
    margin-left: 0;
}