.footer{
    background-color: #f6f6f6;
    color: #666;
}
.footer > div{
    width: 1205px;
    margin: 0 auto;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: #d0d0d0;
}
.foot_title{
    font-size: 22px;
    line-height: 30px;
}
.link{
    height: 70px;
}
.link div{
    display: inline;
    margin: 10px 30px 5px 0;
}
