.SideMenu  {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;

  & > div {
    display: flex;
    flex-direction: column;
  }

  :global{
    .logo {
      overflow: hidden;
      padding: 15px 25px;
      height: 50px;
      img {
        display: inline-block;
        width: 30px;
        height: 30px;
        transform: rotate(180deg);
      }
      h1 {
        display: inline-block;
        margin-left: 10px;
        color:white;
        font-size: 20px;
        font-family: "Myriad Pro,Helvetica Neue,Arial,Helvetica,sans-serif", sans-serif;
        vertical-align: sub;
      }
    }

    .ant-menu{
      flex: 1;
      z-index: 1000;
      overflow-y: auto;
    }

    .sider-link {
      padding: 0 24px;
      height: 50px;
      font-size: 16px;
      line-height: 50px;
      color: rgba(255, 255, 255, 0.75);
      transition: color .5s;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }
  }
}

